<h2 class="header">
  Servants
</h2>

<div *ngIf="isLoading">
  <mat-progress-bar mode="query"></mat-progress-bar>
</div>

<mat-tab-group dynamicHeight *ngIf="isLoading === false">
  <mat-tab label="View">
    <mat-form-field class="servants__filterContainer">
      <input
        matInput
        (keyup)="applyFilter($event.target.value)"
        placeholder="Filter"
      />
    </mat-form-field>

    <div class="tabContent">
      <mat-table
        [dataSource]="dataSource"
        matSort
        matSortActive="name"
        matSortDirection="desc"
      >
        <!-- Name Column -->
        <ng-container matColumnDef="name">
          <mat-header-cell *matHeaderCellDef> Name </mat-header-cell>
          <mat-cell *matCellDef="let element"> {{ element.name }} </mat-cell>
        </ng-container>

        <ng-container matColumnDef="jobs">
          <mat-header-cell *matHeaderCellDef>Jobs</mat-header-cell>
          <mat-cell *matCellDef="let element" class="servants__cellBlock">
            <ul>
              <li *ngFor="let jobs of element.jobList">{{ jobs }}</li>
            </ul>
          </mat-cell>
        </ng-container>

        <ng-container matColumnDef="lastJobs">
          <mat-header-cell *matHeaderCellDef>Previous Job(s)</mat-header-cell>
          <mat-cell *matCellDef="let element" class="servants__cellBlock">
            <ul *ngFor="let previousJobs of element.previousJobs">
              <li>
                <strong>Job:</strong> {{ previousJobs.job }}
                <div>
                  <strong>Date:</strong>
                  {{ previousJobs.date.seconds * 1000 | date: 'MM-dd-yyyy' }}
                </div>
              </li>
            </ul>
          </mat-cell>
        </ng-container>

        <ng-container matColumnDef="actions">
          <mat-header-cell *matHeaderCellDef> Actions </mat-header-cell>
          <mat-cell *matCellDef="let row">
            <button mat-icon-button aria-label="Edit User" role="button">
              <mat-icon>edit</mat-icon>
            </button>

            <button mat-icon-button aria-label="Delete User" role="button">
              <mat-icon>delete</mat-icon>
            </button>
          </mat-cell>
        </ng-container>

        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
        <mat-row *matRowDef="let row; columns: displayedColumns"></mat-row>
      </mat-table>
    </div>
  </mat-tab>
  <mat-tab label="Add">
    <div class="tabContent">
      Add
    </div>
  </mat-tab>
</mat-tab-group>
