<main class="main" [class.main-isMobile]="mobileQuery.matches">
  <mat-toolbar color="primary" class="toolbar">
    <button
      mat-icon-button
      (click)="sideNavigation.toggle()"
      aria-label="Toggle Navigation"
      role="button"
    >
      <mat-icon>menu</mat-icon>
    </button>
    <a
      routerLink="."
      class="main--title"
      role="heading"
      (click)="sideNavigation.close()"
      >{{ title }}
    </a>

    <span class="toolbar--fillSpace"></span>

    <button mat-icon-button role="button">
      <mat-icon>person</mat-icon>
    </button>
  </mat-toolbar>

  <mat-sidenav-container
    class="sideNavContainer"
    [style.marginTop.px]="mobileQuery.matches ? 56 : 0"
  >
    <mat-sidenav
      #sideNavigation
      [mode]="mobileQuery.matches ? 'over' : 'side'"
      [fixedInViewport]="mobileQuery.matches"
      fixedTopGap="56"
    >
      <mat-nav-list aria-label="Navigation" role="menu">
        <a
          mat-list-item
          routerLink="/"
          [routerLinkActiveOptions]="{ exact: true }"
          routerLinkActive="sideNavContainer--activeLink"
          (click)="sideNavigation.close()"
        >
          Home
        </a>
        <a
          mat-list-item
          routerLink="/servants"
          routerLinkActive="sideNavContainer--activeLink"
          (click)="sideNavigation.close()"
        >
          Servants
        </a>
        <a mat-list-item routerLink="." (click)="sideNavigation.close()">
          Create Calendar
        </a>
        <a mat-list-item routerLink="." (click)="sideNavigation.close()">
          View Calendar
        </a>
        <a mat-list-item routerLink="." (click)="sideNavigation.close()">
          Users
        </a>
      </mat-nav-list>
    </mat-sidenav>

    <mat-sidenav-content class="sideNavContent">
      <router-outlet></router-outlet>
    </mat-sidenav-content>
  </mat-sidenav-container>
</main>
